.mp-nav__item {
  margin-left: 2rem;
  line-height: 2.5rem;
}
.mp-nav__item a {
  line-height: 1.4rem;
  color: inherit;
}
.mp-nav__item a.mp-nav__item__link {
  color: #3e4348;
  padding-bottom: 8px;
}
.mp-nav__item a.mp-nav__item__link:hover {
  margin-bottom: -$navItemLinkUnderlineWidth;
  border-bottom: 2.5px solid #728798;
  padding-bottom: 8px;
}
.mp-nav__item a.mp-nav__item__link--active {
  margin-bottom: -$navItemLinkUnderlineWidth;
  border-bottom: 2.5px solid #728798;
}

.logo__mini {
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  border-radius: 0.33rem;
  font-weight: 600;
}
.logo__mini--0 {
  padding: 0;
  margin: 0;
  color: #ccc;
}
.logo__mini--1 {
  padding: 0;
  margin: 0;
  color: #ccc;
}
.logo__mini--2 {
  padding: 0;
  margin: 0;
  color: #ccc;
}
.logo__mini--3 {
  padding: 0;
  margin: 0;
  color: #ccc;
}

.mp-nav[data-v-c6b6b066] {
  box-sizing: border-box;
  z-index: 1000;
  display: flex;
  background-color: #fff;
  padding: 0.7rem 1.5rem;
  line-height: 2.2rem;
  border-bottom: 1px solid #dce1e5;
}
.mp-nav__items[data-v-c6b6b066] {
  display: flex;
  justify-content: flex-end;
  flex-shrink: 0;
  width: 100%;
}
@media (max-width: 705px) {
.mp-nav__items[data-v-c6b6b066] {
    display: none;
}
}

.mp-toc__item {
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1rem;
  padding-top: 0;
  padding-bottom: 0;
}
.mp-toc__item a.mp-toc__item__link {
  font-weight: inherit;
  color: #222;
}
.mp-toc__item a.mp-toc__item__link:active,
.mp-toc__item a.mp-toc__item__link:hover {
  color: #198ae6;
}
.mp-toc__item a.mp-toc__item__link--active {
  font-weight: 700;
  color: #198ae6;
}
.mp-toc__item[data-toc-item-level="1"] {
  margin-left: 0;
  font-size: 1.2rem;
  font-weight: 700;
  margin-block-end: 25px;
}
.mp-toc__item[data-toc-item-level="2"] {
  margin-left: 0;
  font-size: 1.1rem;
  font-weight: 600;
  margin-block-end: 0.3rem;
  margin-block-start: 1rem;
}
.mp-toc__item[data-toc-item-level="3"] {
  margin-block-end: 0.3rem;
  margin-left: 0;
  font-size: 0.9rem;
}
.mp-toc__item[data-toc-item-level="4"] {
  margin-block-end: 0.3rem;
  margin-left: 10px;
  font-size: 0.8rem;
}
.mp-toc__item[data-toc-item-level="5"] {
  margin-block-end: 0.3rem;
  margin-left: 10px;
  font-size: 0.8rem;
}
.mp-toc__item[data-toc-item-level="6"] {
  margin-block-end: 0.3rem;
  margin-left: 10px;
  font-size: 0.8rem;
}

.navbar-items[data-v-a6bee15c] {
  border-bottom: 1px solid #dce1e5;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}

@-moz-keyframes fadeInFromNone {
0% {
    display: none;
    opacity: 0;
    background-color: '#000';
}
1% {
    display: block;
    opacity: 0;
    background-color: '#000';
}
100% {
    display: block;
    opacity: 0.2;
    background-color: '#000';
}
}
@-webkit-keyframes fadeInFromNone {
0% {
    display: none;
    opacity: 0;
    background-color: '#000';
}
1% {
    display: block;
    opacity: 0;
    background-color: '#000';
}
100% {
    display: block;
    opacity: 0.2;
    background-color: '#000';
}
}
@-o-keyframes fadeInFromNone {
0% {
    display: none;
    opacity: 0;
    background-color: '#000';
}
1% {
    display: block;
    opacity: 0;
    background-color: '#000';
}
100% {
    display: block;
    opacity: 0.2;
    background-color: '#000';
}
}
@keyframes fadeInFromNone {
0% {
    display: none;
    opacity: 0;
    background-color: '#000';
}
1% {
    display: block;
    opacity: 0;
    background-color: '#000';
}
100% {
    display: block;
    opacity: 0.2;
    background-color: '#000';
}
}
.mp-mask {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: #000;
  opacity: 0;
  animation: fadeInFromNone 0.5s ease-out;
  animation-fill-mode: forwards;
}
@media (max-width: 705px) {
.mp-docs-theme__sidebar--open .mp-mask {
    display: block;
}
}

.mp-burger-icon {
  fill: #fff;
  stroke: #979797;
}
.mp-burger-icon:hover,
.mp-burger-icon[aria-pressed="true"] {
  stroke: #4c4c4c;
}

.button[data-v-998137ac] {
  background-color: transparent;
  padding: 0;
  border: 0;
  transition: background 0.2s ease-in-out;
  border-radius: 0px;
  outline: none;
  cursor: pointer;
}

html {
  background-color: #fff;
  margin: 0;
  padding: 0;
}
html body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
}
body,
a,
a:visited,
a:active {
  color: #728798;
  font-weight: 500;
  text-decoration: none;
}
a:hover {
  color: #4f5f6c;
  text-decoration: none;
}
pre {
  margin: 0;
}
code[class*="language-"]::-webkit-scrollbar {
  display: none;
  padding: 0;
  margin: 0;
}
pre[class*="language-"]::-webkit-scrollbar {
  display: none;
}
code[class*="language-"],
pre[class*="language-"] {
  scrollbar-width: none;
  overflow: auto;
  color: #fff;
  font-family: Consolas, monaco, monospace !important;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  font-weight: 600;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  background: transparent;
  color: #fff;
}
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection,
pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #4373c2;
}
code[class*="language-"]::selection,
code[class*="language-"] ::selection,
pre[class*="language-"]::selection,
pre[class*="language-"] ::selection {
  text-shadow: none;
  background: #4373c2;
}
@media print {
code[class*='language-'],
  pre[class*='language-'] {
    text-shadow: none;
}
}
.minipress-highlight {
  position: relative;
  overflow: hidden;
  margin: 2rem 0;
  color: #fff;
  background-color: #2d3748;
  border-radius: 8px;
}
.minipress-highlight:before {
  background: rgba(201,167,255,0.2);
  color: var(--text-color);
  border-radius: 0 0 8px 8px;
  top: 0;
  padding: 0 10px;
}
.code-line.highlighted {
  background: rgba(9,11,14,0.4);
  box-shadow: inset 4px 0 0 0 #6ea1f7;
}
.minipress-highlight-mask,
.minipress-highlight-code {
  line-height: 1.5;
  background-color: transparent !important;
  text-shadow: none !important;
  box-shadow: none !important;
  margin: 0 !important;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  white-space: pre;
  font-family: Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace !important;
}
.minipress-highlight-mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: transparent !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.minipress-highlight-code {
  position: relative;
  font-size: 0 !important;
  font-family: Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace !important;
}
.minipress-highlight-code code,
.minipress-highlight-mask {
  font-size: 0.875rem;
}
.minipress-highlight-line-numbers {
  pointer-events: none;
  font-size: 100%;
  float: left;
  letter-spacing: -1px;
  border-right: 1px solid #999;
  user-select: none;
  text-align: right;
  padding-right: 0.8rem;
  margin-right: 0.8rem;
  counter-reset: linenumber;
}
.minipress-highlight-line-numbers > span {
  counter-increment: linenumber;
  display: block;
}
.minipress-highlight-line-numbers > span:before {
  content: counter(linenumber);
  color: #999;
  display: block;
}
.token.cdata,
.token.comment,
.token.prolog {
  color: #637777;
  font-style: italic;
}
.token.punctuation {
  color: #93ddfd;
}
.token.deleted {
  color: rgba(239,83,80,0.56);
  font-style: italic;
}
.token.boolean {
  color: #ff5874;
}
.token.number {
  color: #f78c6c;
}
.token.italic {
  font-style: italic;
}
.namespace {
  color: #b2ccd6;
}
.token.property,
.token.symbol {
  color: #80cbc4;
}
.token.keyword,
.token.operator,
.token.tag {
  color: #ff8383;
}
.token.builtin,
.token.char,
.token.constant,
.token.function {
  color: #82aaff;
}
.token.doctype,
.token.selector {
  color: #c792ea;
}
.token.attr-name,
.token.inserted {
  color: #ffe484;
}
.language-css .token.string,
.style .token.string,
.token.entity,
.token.string,
.token.url {
  color: #addb67;
}
.token.atrule,
.token.attr-value,
.token.class-name {
  color: #b5f4a5;
}
.token.important,
.token.regex,
.token.variable {
  color: #d6deeb;
}
.token.bold,
.token.important {
  font-weight: 700;
}
.page-content h1 code {
  font-size: inherit;
}
.page-content h1 {
  color: #666;
  font-size: 2.2rem;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 40px;
}
.page-content h1 a.header-anchor {
  color: #728798;
  font-size: 1em;
  float: left;
  margin-left: -1em;
  padding-right: 0.23em;
  margin-top: 0;
  opacity: 0;
}
.page-content h1:hover a.header-anchor {
  opacity: 1;
}
.page-content h1:first-child {
  margin: 0;
}
.page-content h2 code {
  font-size: inherit;
}
.page-content h2 {
  color: #666;
  font-size: 1.65rem;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 20px;
}
.page-content h2 a.header-anchor {
  color: #728798;
  font-size: 1em;
  float: left;
  margin-left: -1em;
  padding-right: 0.23em;
  margin-top: 0;
  opacity: 0;
}
.page-content h2:hover a.header-anchor {
  opacity: 1;
}
.page-content h2:first-child {
  margin: 0;
}
.page-content h3 code {
  font-size: inherit;
}
.page-content h3 {
  color: #666;
  font-size: 1.35rem;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 20px;
}
.page-content h3 a.header-anchor {
  color: #728798;
  font-size: 1em;
  float: left;
  margin-left: -1em;
  padding-right: 0.23em;
  margin-top: 0;
  opacity: 0;
}
.page-content h3:hover a.header-anchor {
  opacity: 1;
}
.page-content h3:first-child {
  margin: 0;
}
.page-content h4 code {
  font-size: inherit;
}
.page-content h4 {
  color: #666;
  font-size: 1.35rem;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 20px;
}
.page-content h4 a.header-anchor {
  color: #728798;
  font-size: 1em;
  float: left;
  margin-left: -1em;
  padding-right: 0.23em;
  margin-top: 0;
  opacity: 0;
}
.page-content h4:hover a.header-anchor {
  opacity: 1;
}
.page-content h4:first-child {
  margin: 0;
}
.page-content h5 code {
  font-size: inherit;
}
.page-content h5 {
  color: #666;
  font-size: 1.35rem;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 20px;
}
.page-content h5 a.header-anchor {
  color: #728798;
  font-size: 1em;
  float: left;
  margin-left: -1em;
  padding-right: 0.23em;
  margin-top: 0;
  opacity: 0;
}
.page-content h5:hover a.header-anchor {
  opacity: 1;
}
.page-content h5:first-child {
  margin: 0;
}
.page-content h6 code {
  font-size: inherit;
}
.page-content h6 {
  color: #666;
  font-size: 1.35rem;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 20px;
}
.page-content h6 a.header-anchor {
  color: #728798;
  font-size: 1em;
  float: left;
  margin-left: -1em;
  padding-right: 0.23em;
  margin-top: 0;
  opacity: 0;
}
.page-content h6:hover a.header-anchor {
  opacity: 1;
}
.page-content h6:first-child {
  margin: 0;
}
.page-content {
  line-height: 1.9rem;
  color: #000;
}
.page-content img {
  max-width: 100%;
}
.page-content p {
  margin: 1rem 0;
  line-height: 1.9rem;
}
.page-content hr {
  border: none;
  height: 1px;
  background: #efefef;
  margin: 30px 0;
}
.page-content p code,
.page-content td code,
.page-content blockquote code,
.page-content li code {
  background-color: rgba(188,216,255,0.2);
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  font-size: 0.9rem;
  border-radius: 4px;
  color: rgba(0,49,180,0.9);
}
.page-content pre {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.page-content pre code {
  margin: 0;
  padding: 0;
  background-color: transparent;
}
.page-content ol {
  list-style-type: decimal;
}
.page-contentol,
.page-content ul {
  padding: 0;
  margin: 0rem;
  list-style: none;
}
.page-content li {
  padding-left: 0.6rem;
}
.page-content ul > li::before {
  content: "—";
  display: inline-block;
  color: #b3b3b3;
  position: absolute;
  margin-left: -1.5rem;
}
.page-content ul.task-list > li::before {
  content: "";
  display: inline-block;
  position: absolute;
}
.page-content ul.task-list > li > label,
.page-content ul.task-list input {
  cursor: pointer;
}
.page-content ol.task-list,
.page-content ul.task-list {
  list-style: none;
  padding-left: 0;
  font-size: 0.9rem;
  line-height: 1.4rem;
}
blockquote {
  background-color: rgba(255,229,100,0.3);
  border-left: 8px solid #ffe564;
  padding: 15px 30px 15px 15px;
  margin: 2rem 0;
  color: #6a737d;
}
blockquote > :first-child {
  margin-top: 0;
}
blockquote > :last-child {
  margin-bottom: 0;
}
small code {
  font-size: inherit;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}
table thead th td {
  height: 2.857142857142857rem;
}
table tbody tr td {
  height: 3.571428571428572rem;
}
table th {
  height: 2.857142857142857rem;
  color: #666;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0;
  background: #fafafa;
}
table th:first-child {
  border-left: 1px solid #eaeaea;
  border-radius: 4px 0 0 4px;
}
table th:last-child {
  border-bottom: 1px solid #eaeaea;
  border-radius: 0 4px 4px 0;
  border-right: 1px solid #eaeaea;
  border-top: 1px solid #eaeaea;
}
table tr td {
  border-bottom: 1px solid #eaeaea;
  color: #444;
  font-size: 1rem;
  height: 2.857142857142857rem;
}
table td:first-child {
  border-left: 1px solid transparent;
}
ul.task-list {
  list-style: none;
  padding-left: 0;
}
.page-content table td,
table th {
  padding: 0 0.714285714285714rem;
  text-align: left;
}
.page-content table th,
table th:first-child {
  border-bottom: 1px solid #eaeaea;
  border-top: 1px solid #eaeaea;
}
.mp-nav__product {
  font-size: 1.3rem;
  font-weight: 600;
  color: #000;
  line-height: 2.5rem;
}
.mp-nav__product__link {
  color: #000;
}
.mp-layout {
  padding-top: 3.6rem;
  padding-bottom: 50px;
}
.mp-sidebar {
  background-color: #fff;
  overflow-y: scroll;
  position: fixed;
  width: 320px;
  top: 63px;
  bottom: 0;
  left: 0;
  z-index: 999;
  transition: transform 0.33s ease;
  border-right: 1px solid #dce1e5;
}
.mp-sidebar--disabled {
  transform: translateX(-100%);
  transition: none;
}
.mp-layout__left {
  padding: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.mp-layout__nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.mp-layout__container {
  margin-left: calc(320px + 2rem);
  padding-top: 40px;
  padding-left: 2rem;
  padding-right: 2rem;
}
.mp-layout__container--with-sidebar {
  margin-left: calc(320px + 2rem);
}
.mp-layout__container--without-sidebar {
  margin-left: 0;
}
.mp-main-sidebar-button {
  display: none;
}
@media (max-width: 705px) {
.mp-layout__container {
    margin-left: 0;
}
.mp-main-sidebar-button {
    display: block;
}
.mp-docs-theme__sidebar--open .mp-sidebar {
    transform: translateX(0);
}
.mp-sidebar {
    transform: translateX(-100%);
}
.mp-docs-theme__sidebar--open .mp-sidebar__mask {
    display: block;
}
}
.mp-main__content {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

