.mp-flex__item {
  padding: 0rem;
}
.mp-flex__item + .mp-flex__item {
  margin-left: 0.5rem;
}
.mp-flex__item--top {
  align-self: flex-start;
}
.mp-flex__item--bottom {
  align-self: flex-end;
}
@media (max-width: 705px) {
.mp-flex--responsive .mp-flex__item + .mp-flex__item {
    margin-left: 0;
    margin-top: 0.5rem;
}
}

