.mp-button[data-v-a642d202] {
  padding: 15px 25px;
  font-weight: 600;
  font-size: 1.2rem;
  transition: background 0.2s ease-in-out;
  border-radius: 5px;
}
.mp-button--secondary[data-v-a642d202] {
  color: #808080;
  background: #efefef;
}
.mp-button--secondary[data-v-a642d202]:hover {
  color: #404040;
  background: #ccc;
}
.mp-button--primary[data-v-a642d202] {
  color: #fff;
  background: #1669b1;
}
.mp-button--primary[data-v-a642d202]:hover {
  color: #fff;
  background: #006eff;
}

