.title[data-v-23965bcd] {
  font-size: 48px;
  font-weight: 300;
  color: #1a202c;
  line-height: 60px;
}
.title__sub[data-v-23965bcd] {
  font-size: 40px;
  color: #38b2ac;
  display: block;
  line-height: 60px;
}

