.mp-button[data-v-0c69e2e9] {
  text-align: center;
  display: inline-block;
  padding: 15px 25px;
  font-weight: 600;
  font-size: 1.2rem;
  transition: background 0.2s ease-in-out;
  border-radius: 5px;
}
.mp-button--block[data-v-0c69e2e9] {
  display: block;
}
.mp-button--secondary[data-v-0c69e2e9] {
  color: #808080;
  background: #efefef;
}
.mp-button--secondary[data-v-0c69e2e9]:hover {
  color: #404040;
  background: #ccc;
}
.mp-button--primary[data-v-0c69e2e9] {
  color: #fff;
  background: #1669b1;
}
.mp-button--primary[data-v-0c69e2e9]:hover {
  color: #fff;
  background: #006eff;
}

