.mp-nav__item {
  flex: 0 0 auto;
  margin-left: 2rem;
  line-height: 2.5rem;
}
.mp-nav__item a {
  line-height: 1.4rem;
  color: inherit;
}
.mp-nav__item a.mp-nav__item__link {
  color: #122536;
  padding-bottom: 8px;
}
.mp-nav__item a.mp-nav__item__link:hover {
  margin-bottom: -2.5px;
  border-bottom: 2.5px solid #004e8e;
  padding-bottom: 8px;
}
.mp-nav__item a.mp-nav__item__link--active {
  margin-bottom: -2.5px;
  border-bottom: 2.5px solid #004e8e;
}

.logo {
  color: #3b3b3b;
  font-weight: 400;
}
.logo__mini {
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  border-radius: 0.33rem;
  color: #3b3b3b;
  font-weight: 700;
}

.mp-nav[data-v-46108dcb] {
  box-sizing: border-box;
  z-index: 1000;
  display: flex;
  flex-wrap: nowrap;
  background-color: #fff;
  padding: 0.7rem 1.5rem;
  line-height: 2.2rem;
  border-bottom: 1px solid #d1d1d1;
}
.mp-nav__header[data-v-46108dcb] {
  width: 100%;
}
.mp-nav__logo[data-v-46108dcb] {
  flex: 0 0 120px;
  text-align: center;
}
.mp-nav--flex[data-v-46108dcb] {
  display: flex;
  flex-wrap: nowrap;
}
.mp-nav--push[data-v-46108dcb] {
  margin-left: auto;
}
.mp-nav__scroll[data-v-46108dcb] {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
@media (max-width: 705px) {
.mp-nav__scroll[data-v-46108dcb] {
    display: none;
}
}
.mp-nav__scroll[data-v-46108dcb]::-webkit-scrollbar {
  display: none;
}

.mp-toc__item {
  font-size: 1rem;
  padding-top: 4px;
  padding-bottom: 4px;
  border-left: 6px solid transparent;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mp-toc__item--active {
  border-left: 6px solid #71dce0;
  background-color: #e9fafa;
}
.mp-toc__item-content {
  padding-left: 2rem;
  padding-right: 2rem;
}
.mp-toc__item-content[data-toc-item-level="1"] {
  margin-left: 0;
  font-size: 1.2rem;
  font-weight: 700;
  margin-block-end: 25px;
}
.mp-toc__item-content[data-toc-item-level="2"] {
  margin-left: 0;
  font-size: 1.1rem;
  font-weight: 600;
}
.mp-toc__item-content[data-toc-item-level="3"] {
  margin-left: 0;
  font-size: 0.9rem;
}
.mp-toc__item-content[data-toc-item-level="4"] {
  margin-left: 10px;
  font-size: 0.8rem;
}
.mp-toc__item-content[data-toc-item-level="5"] {
  margin-left: 10px;
  font-size: 0.8rem;
}
.mp-toc__item-content[data-toc-item-level="6"] {
  margin-left: 10px;
  font-size: 0.8rem;
}
.mp-toc__item-content a.mp-toc__item__link {
  display: inline-block;
  font-weight: inherit;
  color: #222;
}
.mp-toc__item-content a.mp-toc__item__link:active,
.mp-toc__item-content a.mp-toc__item__link:hover {
  color: #0b3d67;
}
.mp-toc__item-content a.mp-toc__item__link--active {
  font-weight: 700;
  color: #0b3d67;
}

.navbar-items[data-v-1659774c] {
  border-bottom: 1px solid #d1d1d1;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  display: none;
}
@media (max-width: 705px) {
.navbar-items[data-v-1659774c] {
    display: block;
}
}

@-moz-keyframes fadeInFromNone {
0% {
    display: none;
    opacity: 0;
    background-color: '#000';
}
1% {
    display: block;
    opacity: 0;
    background-color: '#000';
}
100% {
    display: block;
    opacity: 0.2;
    background-color: '#000';
}
}
@-webkit-keyframes fadeInFromNone {
0% {
    display: none;
    opacity: 0;
    background-color: '#000';
}
1% {
    display: block;
    opacity: 0;
    background-color: '#000';
}
100% {
    display: block;
    opacity: 0.2;
    background-color: '#000';
}
}
@-o-keyframes fadeInFromNone {
0% {
    display: none;
    opacity: 0;
    background-color: '#000';
}
1% {
    display: block;
    opacity: 0;
    background-color: '#000';
}
100% {
    display: block;
    opacity: 0.2;
    background-color: '#000';
}
}
@keyframes fadeInFromNone {
0% {
    display: none;
    opacity: 0;
    background-color: '#000';
}
1% {
    display: block;
    opacity: 0;
    background-color: '#000';
}
100% {
    display: block;
    opacity: 0.2;
    background-color: '#000';
}
}
.mp-mask {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: #000;
  opacity: 0;
  animation: fadeInFromNone 0.5s ease-out;
  animation-fill-mode: forwards;
}
@media (max-width: 705px) {
.mp-docs-theme__sidebar--open .mp-mask {
    display: block;
}
}

.mp-burger-icon {
  fill: #fff;
  stroke: #979797;
}
.mp-burger-icon:hover,
.mp-burger-icon[aria-pressed="true"] {
  stroke: #4c4c4c;
}

.button[data-v-74e34065] {
  background-color: transparent;
  padding: 0;
  border: 0;
  transition: background 0.2s ease-in-out;
  border-radius: 0px;
  outline: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

html {
  background-color: #fff;
  margin: 0;
  padding: 0;
}
html body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 16px;
}
a,
a:visited,
a:active {
  color: #185d97;
  font-weight: 500;
  text-decoration: none;
}
a:hover {
  color: #11416a;
  text-decoration: none;
}
pre {
  margin: 0;
}
:root {
  --color-code-blue-100: #7eb0ff;
  --color-code-red: #ffa8a8;
  --color-code-red-100: #ff5874;
  --color-code-teal: #24ffc2;
  --color-code-gray: #aaa;
}
code[class*="language-"]::-webkit-scrollbar {
  display: none;
  padding: 0;
  margin: 0;
}
pre[class*="language-"]::-webkit-scrollbar {
  display: none;
}
pre[class*="language-"] code[class*="language-"] {
  color: var(--color-code-blue-100);
  -webkit-font-smoothing: auto;
}
code[class*="language-"],
pre[class*="language-"] {
  -moz-tab-size: 4;
  -ms-hyphens: none;
  -o-tab-size: 4;
  -webkit-hyphens: none;
  background: transparent;
  color: #fff;
  color: #fff;
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-weight: 400 !important;
  hyphens: none;
  line-height: 1.5;
  overflow: auto;
  scrollbar-width: none;
  tab-size: 4;
  text-align: left;
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
}
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection,
pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #4373c2;
}
code[class*="language-"]::selection,
code[class*="language-"] ::selection,
pre[class*="language-"]::selection,
pre[class*="language-"] ::selection {
  text-shadow: none;
  background: #4373c2;
}
@media print {
code[class*='language-'],
  pre[class*='language-'] {
    text-shadow: none;
}
}
.minipress-highlight {
  position: relative;
  overflow: hidden;
  margin: 2rem 0;
  color: #fff;
  background-color: #213342;
  border-radius: 8px;
}
.minipress-highlight:before {
  background: rgba(201,167,255,0.2);
  color: var(--text-color);
  border-radius: 0 0 8px 8px;
  top: 0;
  padding: 0 10px;
}
.code-line.highlighted {
  background: rgba(9,15,19,0.4);
  box-shadow: inset 4px 0 0 0 #6ebaf7;
}
.minipress-highlight-mask,
.minipress-highlight-code {
  line-height: 1.5;
  background-color: transparent !important;
  text-shadow: none !important;
  box-shadow: none !important;
  margin: 0 !important;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  font-family: Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace !important;
}
.minipress-highlight-mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: transparent !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.minipress-highlight-code {
  position: relative;
  font-size: 0 !important;
  font-family: Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace !important;
}
.minipress-highlight-code code,
.minipress-highlight-mask {
  font-size: 0.875rem;
}
.minipress-highlight-line-numbers {
  pointer-events: none;
  font-size: 100%;
  float: left;
  letter-spacing: -1px;
  border-right: 1px solid #999;
  user-select: none;
  text-align: right;
  padding-right: 0.8rem;
  margin-right: 0.8rem;
  counter-reset: linenumber;
}
.minipress-highlight-line-numbers > span {
  counter-increment: linenumber;
  display: block;
}
.minipress-highlight-line-numbers > span:before {
  content: counter(linenumber);
  color: #999;
  display: block;
}
.token.cdata,
.token.comment,
.token.prolog {
  color: var(--color-code-gray);
  font-style: italic;
}
.token.punctuation {
  color: #93ddfd;
}
.token.deleted {
  color: rgba(239,83,80,0.56);
  font-style: italic;
}
.token.boolean {
  color: var(--color-code-red-100);
}
.token.number {
  color: var(--color-code-red);
}
.token.italic {
  font-style: italic;
}
.namespace {
  color: #b2ccd6;
}
.token.property,
.token.symbol {
  color: #80cbc4;
}
.token.keyword,
.token.operator,
.token.tag {
  color: #ffa8a8;
}
.token.builtin,
.token.char,
.token.constant,
.token.function {
  color: #b7dbff;
}
.token.doctype,
.token.selector {
  color: #c792ea;
}
.token.attr-name,
.token.inserted {
  color: #8af;
}
.language-css .token.string,
.style .token.string,
.token.entity,
.token.string,
.token.url {
  color: #24ffc2;
}
.token.atrule,
.token.attr-value,
.token.class-name {
  color: #b5f4a5;
}
.token.important,
.token.regex,
.token.variable {
  color: #d6deeb;
}
.token.bold {
  color: var(--color-code-red);
  font-weight: 900;
}
.page-content h1 code {
  font-size: inherit;
}
.page-content h1 {
  color: #666;
  font-size: 2.2rem;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 40px;
}
.page-content h1 a.header-anchor {
  color: #004e8e;
  font-size: 1em;
  float: left;
  margin-left: -1em;
  padding-right: 0.23em;
  margin-top: 0;
  opacity: 0;
}
.page-content h1:hover a.header-anchor {
  opacity: 1;
}
.page-content h1:first-child {
  margin: 0;
}
.page-content h2 code {
  font-size: inherit;
}
.page-content h2 {
  color: #666;
  font-size: 1.65rem;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 20px;
}
.page-content h2 a.header-anchor {
  color: #004e8e;
  font-size: 1em;
  float: left;
  margin-left: -1em;
  padding-right: 0.23em;
  margin-top: 0;
  opacity: 0;
}
.page-content h2:hover a.header-anchor {
  opacity: 1;
}
.page-content h2:first-child {
  margin: 0;
}
.page-content h3 code {
  font-size: inherit;
}
.page-content h3 {
  color: #666;
  font-size: 1.35rem;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 20px;
}
.page-content h3 a.header-anchor {
  color: #004e8e;
  font-size: 1em;
  float: left;
  margin-left: -1em;
  padding-right: 0.23em;
  margin-top: 0;
  opacity: 0;
}
.page-content h3:hover a.header-anchor {
  opacity: 1;
}
.page-content h3:first-child {
  margin: 0;
}
.page-content h4 code {
  font-size: inherit;
}
.page-content h4 {
  color: #666;
  font-size: 1.35rem;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 20px;
}
.page-content h4 a.header-anchor {
  color: #004e8e;
  font-size: 1em;
  float: left;
  margin-left: -1em;
  padding-right: 0.23em;
  margin-top: 0;
  opacity: 0;
}
.page-content h4:hover a.header-anchor {
  opacity: 1;
}
.page-content h4:first-child {
  margin: 0;
}
.page-content h5 code {
  font-size: inherit;
}
.page-content h5 {
  color: #666;
  font-size: 1.35rem;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 20px;
}
.page-content h5 a.header-anchor {
  color: #004e8e;
  font-size: 1em;
  float: left;
  margin-left: -1em;
  padding-right: 0.23em;
  margin-top: 0;
  opacity: 0;
}
.page-content h5:hover a.header-anchor {
  opacity: 1;
}
.page-content h5:first-child {
  margin: 0;
}
.page-content h6 code {
  font-size: inherit;
}
.page-content h6 {
  color: #666;
  font-size: 1.35rem;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 20px;
}
.page-content h6 a.header-anchor {
  color: #004e8e;
  font-size: 1em;
  float: left;
  margin-left: -1em;
  padding-right: 0.23em;
  margin-top: 0;
  opacity: 0;
}
.page-content h6:hover a.header-anchor {
  opacity: 1;
}
.page-content h6:first-child {
  margin: 0;
}
.page-content {
  line-height: 1.9rem;
  color: #000;
}
.page-content code {
  background-color: #e5eff5;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  font-size: 0.9rem;
  border-radius: 4px;
  color: #485d75;
}
.page-content img {
  max-width: 100%;
}
.page-content p {
  margin: 1rem 0;
  line-height: 1.9rem;
}
.page-content hr {
  border: none;
  height: 1px;
  background: #efefef;
  margin: 30px 0;
}
.page-content td code,
.page-content li code {
  background-color: #e5eff5;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  font-size: 0.9rem;
  border-radius: 4px;
  color: #485d75;
}
.page-content pre {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.page-content pre code {
  margin: 0;
  padding: 0;
  background-color: transparent;
}
.page-content ol {
  list-style-type: decimal;
}
.page-contentol,
.page-content ul {
  padding: 0;
  margin: 0rem;
  list-style: none;
}
.page-content li {
  padding-left: 0.6rem;
}
.page-content ul > li::before {
  content: "—";
  display: inline-block;
  color: #b3b3b3;
  position: absolute;
  margin-left: -1.5rem;
}
.page-content ul.task-list > li::before {
  content: "";
  display: inline-block;
  position: absolute;
}
.page-content ul.task-list > li > label,
.page-content ul.task-list input {
  cursor: pointer;
}
.page-content ol,
.page-content ul {
  padding-left: 15px;
}
.page-content ol.task-list,
.page-content ul.task-list {
  list-style: none;
  padding-left: 0;
  font-size: 0.9rem;
  line-height: 1.4rem;
}
blockquote {
  background-color: rgba(255,229,100,0.3);
  border-left: 8px solid #ffe564;
  padding: 15px 30px 15px 15px;
  margin: 2rem 0;
}
blockquote color $page-config.blockquote.color,
blockquote > :first-child {
  margin: 0;
}
blockquote > :last-child {
  margin: 0;
}
small code {
  font-size: inherit;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}
table thead th td {
  height: 2.857142857142857rem;
}
table tbody tr td {
  height: 3.571428571428572rem;
}
table th {
  height: 2.857142857142857rem;
  color: #666;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0;
  background: #fafafa;
}
table th:first-child {
  border-left: 1px solid #eaeaea;
  border-radius: 4px 0 0 4px;
}
table th:last-child {
  border-bottom: 1px solid #eaeaea;
  border-radius: 0 4px 4px 0;
  border-right: 1px solid #eaeaea;
  border-top: 1px solid #eaeaea;
}
table tr td {
  border-bottom: 1px solid #eaeaea;
  color: #444;
  font-size: 1rem;
  height: 2.857142857142857rem;
}
table td:first-child {
  border-left: 1px solid transparent;
}
ul.task-list {
  list-style: none;
  padding-left: 0;
}
.page-content table td,
table th {
  padding: 0 0.714285714285714rem;
  text-align: left;
}
.page-content table th,
table th:first-child {
  border-bottom: 1px solid #eaeaea;
  border-top: 1px solid #eaeaea;
}
.mp-nav__product {
  font-size: 1.3rem;
  font-weight: 600;
  color: #000;
  line-height: 2.5rem;
}
.mp-nav__product__link {
  color: #000;
}
.mp-layout {
  padding-top: 3.6rem;
  padding-bottom: 50px;
}
.mp-sidebar {
  background-color: #fff;
  overflow-y: scroll;
  position: fixed;
  width: 320px;
  top: 63px;
  bottom: 0;
  left: 0;
  z-index: 999;
  transition: transform 0.33s ease;
  border-right: 1px solid #d1d1d1;
}
.mp-sidebar--disabled {
  transform: translateX(-100%);
  transition: none;
}
.mp-layout__left {
  padding: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.mp-layout__nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.mp-layout__container {
  margin-left: calc(320px + 2rem);
  padding-top: 32px;
  padding-left: 2rem;
  padding-right: 2rem;
}
.mp-layout__container--with-sidebar {
  margin-left: calc(320px + 2rem);
}
.mp-layout__container--without-sidebar {
  margin-left: 0;
}
.mp-main-sidebar-button {
  display: none;
}
@media (max-width: 705px) {
.mp-layout__container {
    margin-left: 0;
}
.mp-main-sidebar-button {
    display: block;
}
.mp-docs-theme__sidebar--open .mp-sidebar {
    transform: translateX(0);
}
.mp-sidebar {
    transform: translateX(-100%);
}
.mp-docs-theme__sidebar--open .mp-sidebar__mask {
    display: block;
}
}
.mp-main__content {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 20px;
}

/*
Markup Example:
<div class="sc-container">
  <details class="sc-container__details">
    <summary class="sc-container__summary">More…</summary>
    <div class="sc-container__body">
      Remaining Content goes here
    </div>
  </details>
</div>
*/
.sc-container {
  border-left: 1px solid #efefef;
  border-right: 1px solid #efefef;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  border-radius: 0px 0px;
  padding-left: 0px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.sc-container__body {
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.sc-container__details {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 100%;
}
.sc-container__details p {
  margin: 0;
}
.sc-container__details[open] > .sc-container__summary {
  border-bottom: 1px solid #efefef;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.sc-container__summary {
  user-select: none;
  background-color: #fcfcfc;
  cursor: pointer;
  outline: none;
  font-size: 0.8rem;
  padding-left: 3.5px;
}
.sc-container__summary::-webkit-details-marker {
  display: none;
}
.sc-container__control {
  margin-top: auto;
  margin-bottom: auto;
  height: 30px;
  margin-right: 3.5px;
}
.sc-container__summary > div > .sc-container__control {
  transform: scale(0.5, 0.5) rotate(-90deg);
}
.sc-container__details[open] > .sc-container__summary > div > .sc-container__control {
  transform: scale(0.5, 0.5) rotate(0deg);
}

.component-documentation > pre {
  padding: 0;
}
.component-documentation__prop,
.component-documentation__event,
.component-documentation__method,
.component-documentation__computed,
.component-documentation__slot {
  margin-bottom: 1rem;
}
.component-documentation__prop-name,
.component-documentation__event-name,
.component-documentation__method-name,
.component-documentation__computed-name,
.component-documentation__slot-name {
  font-weight: 600;
}
.component-documentation__prop p,
.component-documentation__event p,
.component-documentation__method p,
.component-documentation__computed p,
.component-documentation__slot p {
  margin: 0;
}
.component-documentation hr {
  margin: 0;
}
.component-documentation__props,
.component-documentation__events,
.component-documentation__computed-props,
.component-documentation__methods,
.component-documentation__slots {
  margin-bottom: 0rem;
}
.component-documentation__props p,
.component-documentation__events p,
.component-documentation__computed-props p,
.component-documentation__methods p,
.component-documentation__slots p {
  margin: 0;
}
.component-documentation__props-heading,
.component-documentation__slots-heading,
.component-documentation__methods-heading,
.component-documentation__computed-props-heading,
.component-documentation__events-heading {
  border-bottom: 1px solid #efefef;
  padding-bottom: 8px;
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}


.icon.outbound {
  color: #aaa;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -1px;
}

.mp-button[data-v-02382e18] {
  text-align: center;
  display: inline-block;
  padding: 15px 25px;
  font-weight: 600;
  font-size: 1.2rem;
  transition: background 0.2s ease-in-out;
  border-radius: 5px;
}
.mp-button--block[data-v-02382e18] {
  display: block;
}
.mp-button--secondary[data-v-02382e18] {
  color: #808080;
  background: #efefef;
}
.mp-button--secondary[data-v-02382e18]:hover {
  color: #404040;
  background: #ccc;
}
.mp-button--primary[data-v-02382e18] {
  color: #fff;
  background: #009da3;
}
.mp-button[data-v-02382e18]:hover {
  background: #007e82;
  color: #fff;
}

.mp-flex__item {
  padding: 0rem;
}
.mp-flex__item + .mp-flex__item {
  margin-left: 0.5rem;
}
.mp-flex__item--top {
  align-self: flex-start;
}
.mp-flex__item--bottom {
  align-self: flex-end;
}
@media (max-width: 705px) {
.mp-flex--responsive .mp-flex__item + .mp-flex__item {
    margin-left: 0;
    margin-top: 0.5rem;
}
}

.mp-flex {
  display: flex;
  flex-direction: row;
}
.mp-flex--center {
  align-items: center;
}
@media (max-width: 705px) {
.mp-flex--responsive {
    display: flex;
    flex-direction: column;
}
}

.tip[data-v-511d3a8c] {
  background-color: #e8f4ec;
  border-radius: 4px 4px;
  border-left: 8px solid #b2dbbf;
  color: #193622;
  margin: 2rem 0;
  padding: 15px 30px 15px 15px;
}
.tip[data-v-511d3a8c] > :first-child {
  margin-top: 0;
}
.tip[data-v-511d3a8c] > :last-child {
  margin-bottom: 0;
}
.tip__title[data-v-511d3a8c] {
  color: #142b1b;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: -0.9rem;
}
.tip p[data-v-511d3a8c],
.tip ul[data-v-511d3a8c] {
  margin-top: 1rem;
}
.tip code[data-v-511d3a8c] {
  background-color: #d1e9d9;
  color: #16311f;
}

.info[data-v-2f4a2af0] {
  background-color: #e9fafa;
  border-radius: 4px 4px;
  border-left: 8px solid #b6edef;
  color: #0f4345;
  margin: 2rem 0;
  padding: 15px 30px 15px 15px;
}
.info[data-v-2f4a2af0] > :first-child {
  margin-top: 0;
}
.info[data-v-2f4a2af0] > :last-child {
  margin-bottom: 0;
}
.info__title[data-v-2f4a2af0] {
  color: #0c3637;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: -0.9rem;
}
.info p[data-v-2f4a2af0],
.info ul[data-v-2f4a2af0] {
  margin-top: 1rem;
}
.info code[data-v-2f4a2af0] {
  background-color: #cdf4f4;
  color: #0e3c3e;
}

.warn[data-v-64e28b4a] {
  background-color: #fff9eb;
  border-radius: 4px 4px;
  border-left: 8px solid #ffecbc;
  color: #593f00;
  margin: 2rem 0;
  padding: 15px 30px 15px 15px;
}
.warn[data-v-64e28b4a] > :first-child {
  margin-top: 0;
}
.warn[data-v-64e28b4a] > :last-child {
  margin-bottom: 0;
}
.warn__title[data-v-64e28b4a] {
  color: #473200;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: -0.9rem;
}
.warn p[data-v-64e28b4a],
.warn ul[data-v-64e28b4a] {
  margin-top: 1rem;
}
.warn code[data-v-64e28b4a] {
  background-color: #ffefc9;
  color: #503900;
}

.error[data-v-23e7a489] {
  background-color: #fff1f5;
  border-radius: 4px 4px;
  border-left: 8px solid #ffd1dd;
  color: #5d0018;
  margin: 2rem 0;
  padding: 15px 30px 15px 15px;
}
.error[data-v-23e7a489] > :first-child {
  margin-top: 0;
}
.error[data-v-23e7a489] > :last-child {
  margin-bottom: 0;
}
.error__title[data-v-23e7a489] {
  color: #4a0013;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: -0.9rem;
}
.error p[data-v-23e7a489],
.error ul[data-v-23e7a489] {
  margin-top: 1rem;
}
.error code[data-v-23e7a489] {
  background-color: #ffcedc;
  color: #540016;
}

